{{page-title "Dashboard"}}
<h2>Dashboard</h2>
<div class="row row-eq-height">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <Dashboard::SystemStatus @device={{@model.deviceInfo}} />
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <Dashboard::ProcessStatus @status={{@model.deviceInfo.ProcessStatus}} @cpuData={{this.CPUdata}} />
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <Dashboard::MemoryStatus @status={{@model.deviceInfo.MemoryStatus}} />
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <Dashboard::Wan @wan={{@model.wan}} @statisticData={{this.WANStatistics}} />
  </div>
</div>

{{#if @model.wifi.SSID.length}}
<div class="mt-4">
  <h5 class="mb-3">WiFi Statistics</h5>
  <div class="row">
    {{#each @model.wifi.SSID as |ssid|}}
    <div class="col-lg-6 col-md-12 mb-4">
      <Dashboard::WifiSsid @ssid={{ssid}} @packetData={{this.WiFiSSIDStatistics}} />
    </div>
    {{/each}}
  </div>
</div>
{{/if}}