{{page-title "Dhcpv4"}}
<h2>LAN</h2>
<ul class="nav nav-pills">
  <li class="nav-item">
    <LinkTo class="nav-link" @route="authenticated.lan">Interfaces</LinkTo>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">DHCPv4</a>
  </li>
</ul>

{{#if this.pools.length}}
  <div class="interface-selector mb-4">
    <label class="interface-selector-label">Select DHCP Pool:</label>
    <div class="interface-tabs">
      {{#each this.pools as |pool|}}
        <button 
          type="button" 
          class="interface-tab {{if (eq pool.Alias this.selectedPool.Alias) 'active'}}"
          {{on "click" (fn this.selectPool pool.Alias)}}
        >
          <StatusIndicator @status={{pool.Status}} @statusKey="Enabled"/>
          {{pool.Alias}}
        </button>
      {{/each}}
    </div>
  </div>

  {{#if this.selectedPool}}
    <Dhcpv4::ServerPool @pool={{this.selectedPool}} />
  {{/if}}
{{else}}
  <div class="alert alert-info">No DHCP pools available.</div>
{{/if}}
