{{page-title "Login"}}
<form {{on "submit" this.authenticate}} style="height: 100%">
  <div class="row align-items-center">
    <div class="col-md-2 offset-md-5 logo"><span class="label">prpl</span></div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-2 offset-md-5">
      <input id='identification' class="form-control" placeholder="Enter Username" value={{this.identification}} {{on "change" this.updateIdentification}}>
      <label for="identification" class="form-label">Username</label>
      <input id='password' class="form-control" placeholder="Enter Password" type="password" value={{this.password}} {{on "change" this.updatePassword}}>
      <label for="password"  class="form-label">Password</label>
    </div>
    <div class="col-md-2 offset-md-5 d-grid gap-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-2 offset-md-5 gy-3">
      {{#if this.errorMessage}}
        <p class="alert alert-danger p-2 text-center">{{this.errorMessage}}</p>
      {{/if}}
    </div>
  </div>
</form>
